<div class="row">
  <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11" *ngIf="!detailFlag">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 right_line">
        <!--任务图标-->
        <div class="task_ic">
          <md-icon class="overtime">format_list_bulleted</md-icon>
        </div>
        <!--任务名称-->
        <div class="task_name">{{taskRecord.name | null_or_empty:"无"}}<span>{{taskRecord.id | null_or_empty:"无"}}</span></div>
      </div>
      <!--任务时间-->
      <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12" *ngIf="!detailFlag">
        <div class="task_info" *ngIf="taskRecord.planningEndDate!=null">
          <ul>
            <li class="title_date" *ngIf="taskRecord.planningEndDate !== null"><span>{{taskRecord.planningEndDate | date:"MM"}}</span>月<span>{{taskRecord.planningEndDate | date:"dd"}}</span>日</li>
            <li class="title_date" *ngIf="taskRecord.planningEndDate === null"></li>
            <li>计划完成时间</li>
          </ul>
          <ul>
            <li class="title_day"><span>120</span>天</li>
            <li>计划用时</li>
          </ul>
          <ul>
            <li class="title_overtime"><span>2</span>天</li>
            <li>已超时</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-11 col-xs-10 col-sm-10" *ngIf="detailFlag">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 right_line">
        <!--任务图标-->
        <div class="task_ic">
          <md-icon class="overtime">format_list_bulleted</md-icon>
        </div>
        <!--任务名称-->
        <div class="task_name">{{taskRecord.name | null_or_empty:"无"}}</div>
      </div>
    </div>
  </div>
  <!--操作按钮-->
  <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1" *ngIf="detailFlag">
    <div class="open">
      <button md-icon-button [md-menu-trigger-for]="menu" md-tooltip="操作" tooltip-position="below">
				<md-icon>menu</md-icon>
			</button>
      <!--<button  md-mini-fab md-mini-fab [md-menu-trigger-for]="menu" color="primary">
				<md-icon>menu</md-icon>
			</button>-->
      <md-menu #menu="mdMenu">
        <button md-menu-item><md-icon>assignment_ind</md-icon>指派</button>
        <button md-menu-item><md-icon>play_arrow</md-icon>开始</button>
        <button md-menu-item><md-icon>stop</md-icon>停止（暂停）</button>
        <button md-menu-item><md-icon>sms</md-icon>留言</button>
        <button md-menu-item><md-icon>clear</md-icon>取消</button>
        <button md-menu-item><md-icon>mode_edit</md-icon>编辑</button>
      </md-menu>
    </div>
  </div>
  <!--任务展开开关-->
  <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
    <div class="open">
      <button *ngIf="!detailFlag" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="打开" tooltip-position="below">
				<md-icon>keyboard_arrow_down</md-icon>
			</button>
      <button *ngIf="detailFlag" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="收起" tooltip-position="below">
				<md-icon>keyboard_arrow_up</md-icon>
			</button>
    </div>
  </div>
</div>
<!--任务状态色条-->
<div class="row overtime"></div>
