<div class="row overtime">
	<div class="row" *ngIf="!detailFlag">
		<div class="col-lg-7 col-md-12 col-xs-12 col-sm-12  bottom_line  right_line">
			<!--任务图标-->
			<div class="task_ic">
				<md-icon>format_list_numbered</md-icon>
			</div>
			<!--任务名称-->
			<div class="task_name">{{taskRecord.name | null_or_empty:"无"}}<span>{{taskRecord.id | null_or_empty:"无"}}</span></div>
		</div>
		<!--任务时间-->
		<div class="col-lg-4 col-md-10 col-xs-10 col-sm-10 right_line">
			<div class="task_info" *ngIf="taskRecord.planningEndDate!=null">
				<ul>
					<li class="date" *ngIf="taskRecord.planningEndDate !== null"><span>{{taskRecord.planningEndDate | date:"MM"}}</span>月<span>{{taskRecord.planningEndDate | date:"dd"}}</span>日</li>
					<li class="date" *ngIf="taskRecord.planningEndDate === null"></li>
					<li>计划完成时间</li>
				</ul>
				<ul>
					<li class="datespan"><span>120</span>天</li>
					<li>计划用时</li>
				</ul>
				<ul>
					<li class="status"><span>2</span>天</li>
					<li>已超时</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
			<div class="open">
				<button class="down" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="打开" tooltip-position="below">
					<md-icon>keyboard_arrow_down</md-icon>
					<span [hidden]="!processAlert" class="badge"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="detailFlag">
		<div class="col-lg-10 col-md-8 col-xs-8 col-sm-8 right_line">
			<div class="task_ic">
				<md-icon class="overtime">format_list_numbered</md-icon>
			</div>
			<div class="task_name">{{taskRecord.name | null_or_empty:"无"}}</div>
		</div>
		<div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
			<div class="open">
				<button class="menu" md-icon-button [md-menu-trigger-for]="menu" md-tooltip="操作" tooltip-position="below">
							<md-icon>menu</md-icon>
					<span [hidden]="!processAlert" class="badge"></span>
						</button>
				<md-menu #menu="mdMenu">
					<button [hidden]="!processAble" md-menu-item [routerLink]="['/task',taskRecord.id,'process']"><md-icon>build</md-icon><span [hidden]="!processAlert" class="badge_m"></span>处理</button>
					<button [disabled]="!startAble" md-menu-item (click)="openStartDialog()"><md-icon>play_arrow</md-icon><span [hidden]="!startAlert" class="badge_m"></span>开始</button>
					<button [disabled]="!progressAble" md-menu-item (click)="openProgressDialog()"><md-icon>launch</md-icon>填写进度</button>
					<button [disabled]="!finishAble" md-menu-item (click)="openFinishDialog()"><md-icon>done</md-icon>完成</button>
					<button [disabled]="!closeAble" md-menu-item (click)="openCloseDialog()"><md-icon>close</md-icon>关闭</button>
					<button [disabled]="!editAble" md-menu-item [routerLink]="['/task',taskRecord.id,'edit']"><md-icon>mode_edit</md-icon>编辑</button>
					<button [hidden]="!deleteAble" md-menu-item (click)="openDelDialog()"><md-icon>delete</md-icon>删除</button>
				</md-menu>
			</div>
		</div>
		<div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
			<div class="open">
				<button class="up" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="收起" tooltip-position="below">
					<md-icon >keyboard_arrow_up</md-icon>
				</button>
			</div>
		</div>
	</div>
	<!--任务状态色条-->
	<div class="row line"></div>
</div>