<div class="row rightDiv" *ngFor="let task of tasks">
  <element-record [task]="task" (detailClicked)="onDetailClicked($event)" [detailFlag]="task.id==id"></element-record>
</div>
<!--页码-->
<div *ngIf="tasks.length > 0" class="pages">
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 "><a (click)="prevPage()" class="Previous"><i class="material-icons">arrow_back</i>&nbsp;上一页</a></div>
  <div class="col-lg-8 col-md-8col-xs-8 col-sm-8">
    <ul>
      <!--<li class="active"><a ng-href="#">1</a></li>-->
      <a *ngFor="let p of displayPageNumbers" (click)="clickPage(p)">
        <li>{{p}}</li>
      </a>
      <li class="PageN"><input [(ngModel)]="jumpPage"><button md-button (click)="clickPage(jumpPage)">GO</button></li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"><a (click)="nextPage()" class="Next">下一页&nbsp;<i class="material-icons">arrow_forward</i></a></div>
</div>
