
/*右侧内容区*/

.rightDiv {
  margin: 0 0 20px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #d1c8c6;
  min-height: 68px;
  line-height: 68px;
}

.pages {
  margin: 0 0 0 0;
  width: 100%;
  min-height: 68px;
  line-height: 68px;
}

.pages div {
  display: inline-table;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.pages div .Previous,
.pages div .Previous：hover {
  display: inline-table;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0px;
  padding: 0 5px;
}

.pages div .Previous:hover,
.pages div .Next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.0588);
}

.pages div .Previous i {
  display: inline-table;
  height: 24px;
  line-height: 24px;
  text-align: center;
  float: left;
}

.pages div .Next {
  display: inline-table;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0px;
  padding: 0 5px;
}

.pages div .Next i {
  display: inline-table;
  height: 24px;
  line-height: 24px;
  text-align: center;
  float: right;
}

.pages div ul li,
.pages div ul li:hover {
  display: inline-table;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  margin: 0px;
  padding: 0 5px;
  cursor: pointer;
}

.pages div ul li:hover {
  background-color: rgba(0, 0, 0, 0.0588);
}

.pages div ul li.active {
  color: #117ecc;
  cursor: default;
}

.pages div ul li.PageN:hover,
.pages div ul li.active:hover {
  background-color: rgba(0, 0, 0, 0);
}

.PageN input {
  width: 40px;
  height: 20px;
  line-height: 20px;
}

.PageN input {
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.pages div ul li button {
  min-width: 40px;
  width: 40px;
  margin: 0 5px;
  padding: 0px;
  line-height: 24px;
  font-size: 12px;
}
