<form (ngSubmit)="addTask()" #taskForm="ngForm" class="form center-block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="row">
        <div class="task_head">新建任务</div>
        <div class="fix">
          <button type="submit" [disabled]="!taskForm.form.valid" md-mini-fab color="primary" md-tooltip="确定" tooltip-position="below">
					<md-icon>done</md-icon>
				</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>library_books</md-icon>
          </div>
          <div class="task_title">基本信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-input [(ngModel)]="newTask.name" #taskName="ngModel" placeholder="任务名称" [required]="true" name="taskName"></md-input>
                <div [hidden]="taskName.valid || taskName.pristine" class="error">
                  任务名称不能为空
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [(ngModel)]="newTask.resume" #resume="ngModel" placeholder="简述" [required]="true" name="resume"></md-input>
                <div [hidden]="resume.valid || resume.pristine" class="error">
                  简述不能为空
                </div>
              </li>
            </ul>
            <ul>
              <li class="title">详细描述</li>
              <li>
                <textarea [(ngModel)]="newTask.description" #description="ngModel" name="description" rows="3" class="form-control textarea-counter"></textarea>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>account_box</md-icon>
          </div>
          <div class="task_title">商务信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                请选择销售负责人<span>*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="sellerId" class="form-control" #sellerIdSelect="ngModel" name="sellerIdSelect" [required]="true">
										<option [hidden]="isSeller" [value]="''">无销售</option>
										<option *ngFor="let emp of sellers" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">

                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [(ngModel)]="newTask.requiringEndDate" #requiringEndDate="ngModel" name="requiringEndDate" placeholder="要求任务完成时间"></md-input>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly] placeholder="时间填写demo" [value]="'2016-10-20T08:00:00+08:00'"></md-input>
              </li>
            </ul>
            <ul>
              <li class="title">客户联络方式</li>
              <li>
                <textarea [(ngModel)]="newTask.customerContact" #customerContact="ngModel" name="customerContact" rows="3" class="form-control textarea-counter"></textarea>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!isSeller" class="task_class">
          <div class="task_class_ic">
            <md-icon>account_circle</md-icon>
          </div>
          <div class="task_title">执行信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                请选择OC负责人 <span [hidden]="!(taskManagerId != null || (isTaskAdmin || isTaskManager))">*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="OCId" class="form-control" #OCIdSelect="ngModel" name="OCIdSelect" [required]="taskManagerId != null || (isTaskAdmin || isTaskManager)">
										<option [hidden]="isOC" [value]="''">无OC</option>
										<option *ngFor="let emp of OC" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                请选择执行负责人 <span [hidden]="!(isTaskAdmin || isTaskManager)">*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="taskManagerId" class="form-control" #taskManagerIdSelect="ngModel" name="taskManagerIdSelect" [required]="isTaskAdmin || isTaskManager">
										<option *ngFor="let emp of taskManagers" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [(ngModel)]="newTask.otherExecutors" placeholder="其他相关负责人员" #otherExecutors="ngModel" name="otherExecutors"></md-input>
              </li>
            </ul>
            <ul>
              <li *ngIf="!isOC">
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [(ngModel)]="newTask.planningBeginDate" placeholder="任务计划开始时间" #planningBeginDate="ngModel" name="planningBeginDate"
                      [required]="(isTaskManager && !isTaskAdmin) || newTask.planningEndDate != null"></md-input>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [(ngModel)]="newTask.planningEndDate" placeholder="任务计划完成时间" #planningEndDate="ngModel" name="planningEndDate"
                      [required]="(isTaskManager && !isTaskAdmin) || newTask.planningBeginDate != null"></md-input>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly] placeholder="时间填写demo" [value]="'2016-10-20T08:00:00+08:00'"></md-input>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>dashboard</md-icon>
          </div>
          <div class="task_title">产品与项目</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-input placeholder="所属产品"></md-input>
              </li>
            </ul>
            <ul>
              <li>
                <md-input placeholder="所属项目"></md-input>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>