<!---------------------------------------------------------------------------->
<!--新建任务-->
<div class="row">


	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<div class="row">
			<!--任务图标-->
			<div class="task_ic">
				<div class="glyph-icon icon-elusive-list ongoing" title=""></div>
			</div>
			<!--任务名称-->
			<div class="task_name">新建任务</div>

			<!--操作按钮-->
			<div class="fix">
				<button md-mini-fab>
											<md-icon class="md-24">autorenew</md-icon>
										</button>
				<button md-mini-fab>
											<md-icon class="md-24">done</md-icon>
										</button>
				<!--<button type="button" class="btn btn-danger pull-xs-right m-r-1 m-t-1 m-b-1">取消</button>
                    					<button type="button" class="btn btn-success pull-xs-right m-r-1 m-t-1 m-b-1">保存</button>-->
			</div>
		</div>
	</div>

	<!---------------------------------------------------------------------------->

	<!---------------------------------------------------------------------------->
	<!--任务详情-->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<div class="row">
				<!--左侧-->
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 right_line">

					<!--任务基本信息展开-->
					<div class="task_class">
						<div class="task_class_ic">
							<!--<div class="glyph-icon icon-elusive-list" title=""></div>-->
							<md-icon>library_books</md-icon>
						</div>
						<div class="task_class_info">
							<!--<ul>
													<li class="title">任务名称</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="请输入任务名称">
														<span>*任务名称为必填项。</span>
													</li>
												</ul>
												<ul>
													<li class="title">简述</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="公安信息化产品中心任务管理系统开发">
													</li>
												</ul>
												<ul>
													<li class="title">详细描述</li>
													<li>
														<textarea name="" rows="3" class="form-control textarea-counter"></textarea>
													</li>
												</ul>-->
							<ul>
								<li>
									<md-input placeholder="任务名称"></md-input>
								</li>
							</ul>
							<ul>
								<li>
									<md-input placeholder="简述"></md-input>
								</li>
							</ul>
							<ul>
								<li class="title">详细描述</li>
								<li>
									<textarea name="" rows="3" class="form-control textarea-counter"></textarea>
								</li>
							</ul>

						</div>
					</div>

					<!--客户联系方式-->
					<div class="task_class">
						<div class="task_class_ic">
							<!--<div class="glyph-icon icon-elusive-group" title=""></div>-->
							<md-icon>account_box</md-icon>
						</div>
						<div class="task_class_info">
							<!--<ul>
													<li class="title">客户联络方式</li>
													<li>
														<textarea name="" rows="3" class="form-control textarea-counter"></textarea>
													</li>
												</ul>
												<ul>
													<li class="title">商务负责人</li>
													<li>2016年6月1日 ~ 2016年6月30日</li>
												</ul>
												<ul>
													<li class="title">创建人</li>
													<li>谭继锋</li>
												</ul>
												<ul>
													<li class="title">OC负责人</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="OC-陈天博">
														<span>*请指定OC负责人</span>
													</li>
												</ul>
												<ul>
													<li class="title">执行负责人</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="OC-王峰">
														<span>*请指定执行负责人</span>
													</li>
												</ul>
												<ul>
													<li class="title">其他相关负责人员</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="无">
													</li>
												</ul>-->
							<ul>
								<li>
									<md-input placeholder="客户联络方式"></md-input>
								</li>
							</ul>
							<ul>
								<li class="title">商务负责人</li>
								<li>销售1</li>
							</ul>
							<ul>
								<li class="title">创建人</li>
								<li>谭继锋</li>
							</ul>
							<ul>
								<li>
									<md-input placeholder="OC负责人" [md-menu-trigger-for]="menu">
										<span md-suffix>
																<md-icon >arrow_drop_down</md-icon>
															</span>
									</md-input>
									<md-menu #menu="mdMenu">
										<button md-menu-item> 负责人1 </button>
										<button md-menu-item> 负责人2 </button>
										<button md-menu-item> 负责人3 </button>
										<button md-menu-item disabled> 负责人4 </button>
									</md-menu>
								</li>
							</ul>
							<ul>
								<li>
									<md-input placeholder="执行负责人"></md-input>
								</li>
							</ul>
							<ul>
								<li>
									<md-input placeholder="其他相关负责人员"></md-input>
								</li>
							</ul>
						</div>
					</div>

					<!--要求任务周期-->
					<div class="task_class">
						<div class="task_class_ic">
							<div class="glyph-icon icon-elusive-group" title=""></div>
						</div>
						<div class="task_class_info">
							<ul>
								<li class="title">要求任务周期</li>
								<li>
									<div class="row">
										<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
											<input type="text" class="form-control" id="" placeholder="2016年10月10日">

											<input type="text" class="form-control" id="" placeholder="2016年10月10日">
										</div>

									</div>
								</li>
							</ul>
						</div>
					</div>


					<!--关联产品-->
					<div class="task_class">
						<div class="task_class_ic">
							<!--<div class="glyph-icon tooltip-button icon-cubes" title=""></div>-->
							<md-icon>dashboard</md-icon>
						</div>
						<div class="task_class_info">
							<ul>
								<!--<li class="title">关联产品</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="无">	
													</li>-->
								<li>
									<md-input placeholder="关联产品"></md-input>
<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
 
								</li>
							</ul>
						</div>
					</div>


					<!--关联项目-->
					<div class="task_class">
						<div class="task_class_ic">
							<!--<div class="glyph-icon icon-file-powerpoint-o" title=""></div>-->
							<md-icon>view_quilt</md-icon>
						</div>
						<div class="task_class_info">
							<ul>
								<!--<li class="title">关联项目</li>
													<li>
														<input type="text" class="form-control" id="" placeholder="无">	
													</li>-->
								<li>
									<md-input placeholder="关联项目"></md-input>
								</li>
							</ul>
						</div>
					</div>


				</div>

			</div>
		</div>





		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 right_line">


				</div>

				<!--操作按钮-->
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 right_line task_btn">
					<button type="button" class="btn btn-danger pull-xs-right m-r-1 m-t-1 m-b-1">取消</button>
					<button type="button" class="btn btn-success pull-xs-right m-r-1 m-t-1 m-b-1">保存</button>
				</div>
			</div>
		</div>

	</div>
	<!---------------------------------------------------------------------------->