
.task_btn{
    height: 68px;
    line-height: 68px;
    text-align: center;
}


.task_class_info input, textarea{
    width:80%;
    padding: 0.5rem;
    font-size: 0.5rem;
    margin-top: 10px;
    float: left;
}

 ul{
    display:table;
	font-family: "微软雅黑";
	color: #666666;
 }

  ul li{
    /*height:32px;
    line-height:32px;*/
 }

 ul li md-input{
     width: 80%;
 }
/*
.task_class_info span{
    display: inline-table;
    color: #e80202;
    padding: 0.5rem;
    font-size: 0.5rem;
    margin-top: 10px;
}*/

.fix{
    position:fixed;
    margin-left: 800px;
    z-index: 99;
}



/*弹窗内容样式*/
/*li{
    padding:10px;
}*/
.select li{
    float: left;
    font-size: 0.8rem;
    background-color: #d7481c;
    color: #fff;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 0.8rem;
}

.select li:hover{
     background-color: rgba(215,72,28,0.8);
}

.select li md-icon{
    font-size: 0.8rem;
    width:12px;
    height:12px;
    line-height: 12px;
    cursor:pointer;
}
.line{
    height:20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

md-radio-button{
    margin-right: 20px;
    margin-top: 20px;
    font-size:0.8rem;
}


.personnel li{
    float: left;
    font-size: 0.8rem;
    background-color: #117ecc;
    color: #fff;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 0.8rem;
    cursor:pointer;
}

.personnel li:hover{
     background-color: rgba(17,126,204,0.8);
}

.personnel li.selected{
    float: left;
    font-size: 0.8rem;
    background-color: #eee;
    color: #bbb;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 0.8rem;
    cursor:default;
}
