<form (ngSubmit)="addTask()" #taskForm="ngForm" class="form center-block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="row">
        <div class="task_head">新建任务</div>
        <div class="fix">
          <button type="submit" [disabled]="!taskForm.form.valid" md-mini-fab color="primary" md-tooltip="确定" tooltip-position="below">
					<md-icon>done</md-icon>
				</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>library_books</md-icon>
          </div>
          <div class="task_title">基本信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-input-container>
                  <input mdInput [(ngModel)]="newTask.name" #taskName="ngModel" placeholder="任务名称" [required]="true" name="taskName">
                </md-input-container>
                <div [hidden]="taskName.valid || taskName.pristine" class="error">
                  任务名称不能为空
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input-container>
                  <textarea mdInput md-autosize placeholder="详细描述" [(ngModel)]="newTask.description" #description="ngModel" name="description"
                    rows="1"></textarea>
                </md-input-container>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>account_box</md-icon>
          </div>
          <div class="task_title">商务信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-select placeholder="择销售负责人" [(ngModel)]="sellerId" #sellerIdSelect="ngModel" name="sellerIdSelect" [required]="true">
                  <md-option *ngFor="let emp of sellers" [value]="emp.empId">{{emp.name}}</md-option>
                </md-select>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input-container>
                      <input mdInput type="date" [(ngModel)]="newRequiringEndDate" #requiringEndDate="ngModel" name="requiringEndDate" placeholder="要求完成日期">
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input-container>
                  <textarea mdInput md-autosize placeholder="客户联络方式" [(ngModel)]="newTask.customerContact" #customerContact="ngModel" name="customerContact"
                    rows="1"></textarea>
                </md-input-container>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!isSeller" class="task_class">
          <div class="task_class_ic">
            <md-icon>account_circle</md-icon>
          </div>
          <div class="task_title">执行信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-select placeholder="OC负责人" [(ngModel)]="OCId" #OCIdSelect="ngModel" name="OCIdSelect" [required]="taskManagerId != null || (isTaskAdmin || isTaskManager)">
                  <md-option *ngFor="let emp of OC" [value]="emp.empId">{{emp.name}}</md-option>
                </md-select>
              </li>
            </ul>
            <ul>
              <li>
                <md-select placeholder="执行负责人" [(ngModel)]="taskManagerId" #taskManagerIdSelect="ngModel" name="taskManagerIdSelect" [required]="isTaskAdmin || isTaskManager">
                  <md-option *ngFor="let emp of taskManagers" [value]="emp.empId">{{emp.name}}</md-option>
                </md-select>
              </li>
            </ul>
            <ul>
              <li>
                <md-select placeholder="其他执行人员" multiple [(ngModel)]="newTask.otherExecutors" #otherExecutorsSelect="ngModel" name="otherExecutorsSelect"
                  [required]="isTaskAdmin || isTaskManager">
                  <md-option *ngFor="let emp of taskManagers" [value]="emp.empId">{{emp.name}}</md-option>
                </md-select>
              </li>
            </ul>
            <ul *ngIf="!isOC">
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input-container>
                      <input mdInput type="date" [(ngModel)]="newPlanningBeginDate" placeholder="任务计划开始日期" #planningBeginDate="ngModel" name="planningBeginDate"
                        [required]="(isTaskManager && !isTaskAdmin) || newPlanningEndDate != null">
                    </md-input-container>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input-container>
                      <input mdInput type="date" [(ngModel)]="newPlanningEndDate" placeholder="任务计划完成日期" #planningEndDate="ngModel" name="planningEndDate"
                        [required]="(isTaskManager && !isTaskAdmin) || newPlanningBeginDate != null">
                    </md-input-container>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>dashboard</md-icon>
          </div>
          <div class="task_title">产品与项目</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-select placeholder="所属项目" [(ngModel)]="newTask.parentProjectId" #parentProjectIdSelect="ngModel" name="parentProjectIdSelect">
                  <md-option *ngFor="let project of projects" [value]="project.id">{{project.id}} - {{project.name}}</md-option>
                </md-select>
              </li>
            </ul>
            <ul>
              <li>
                <md-select placeholder="所属产品" [(ngModel)]="newTask.parentProductId" #parentProductIdSelect="ngModel" name="parentProductIdSelect">
                  <md-option *ngFor="let product of products" [value]="product.id">{{product.id}} - {{product.name}}</md-option>
                </md-select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
