<div class="md-dialog-content">
  <h2 class="md-title">任务开始</h2>
  <div class="md-dialog-content-body">
    <h6>
      请选择当前任务的开始时间：
    </h6>
    <span>
            <md-input  type="date" [(ngModel)]="task.realBeginDate"></md-input>
        </span>
  </div>
</div>
<div class="md-dialog-actions">
  <button md-button class="md-button button-line" type="button" (click)="dialogRef.close(null)">取&nbsp;&nbsp;消</button>
  <button md-button class="md-button confirm-button" type="button" (click)="dialogRef.close(task)">确&nbsp;&nbsp;定</button>
</div>
