/*系统logo*/
.logo{
	height: 200px;
	background-image: url(../../../assets/img/logo.png);
	top:-60px;
	background-repeat: no-repeat;
}

/*任务统计区块*/
.state{
	padding-right: 10px;
}

.stateDiv, .stateDiv:hover{
	height:88px;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 2px solid #d7d6db;
	float: right;
	width: 100%;
	margin: 40px 10px 20px 0px;
	padding-top:18px;
	cursor: pointer;
}

.stateDiv:hover, .stateDiv.active{
	height:88px;
	background-color: rgba(255,255,255,0.8);
	border-bottom: 4px solid #d7d6db;
}

/*任务状态图标*/
.head-task-state{
	float: left;
	width:52px;
	height:52px;
	line-height: 70px;
	border-radius: 4px;
	text-align: center;
	color:#fff;
	margin:0px 10px;
}

.head-task-state i{
	font-size:32px;
}

.head-task-content{
	display: block;

}

.head-task-content p {
	margin: 0px;
	font-size:14px;
	font-family: "微软雅黑";
}
.head-task-content .title{
	font-size:12px;
}

.all{/*所有任务*/
	background-color:#84c0eb;
}


.notstart{/*未开始*/
	background-color:#cb93dd;
}

.ongoing{/*进行中*/
	background-color: #64decf;
}

.overtime{/*超时*/
	background-color: #f69679;
}

/*头部分割线*/
.line{
	height: 2px;
	width: 100%;
	background-color: #f8f1f3;
}

.row{
	margin: 0px;
}