<div class="row">
  <!--logo-->
  <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 logo"></div>
  <!--任务统计-->
  <div class="col-lg-2 col-md-3 col-xs-4 col-sm-4 stateDiv">
    <div class="head-task-state overtime">
      <!--<div class="glyph-icon icon-elusive-warning" title="" data-original-title=".icon-elusive-list"></div>-->
      <i class="material-icons">warning</i>
    </div>
    <div class="head-task-content">
      <p class="title">超时</p>
      <p>{{counts['overtime']}}</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-xs-4 col-sm-4 stateDiv">
    <div class="head-task-state ongoing">
      <!--<div class="glyph-icon icon-elusive-clock" title="" data-original-title=".icon-elusive-list"></div>-->
      <i class="material-icons">query_builder</i>
    </div>
    <div class="head-task-content">
      <p class="title">进行中</p>
      <p>{{counts['onGoing']}}</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-xs-4 col-sm-4 stateDiv">
    <div class="head-task-state notstart">
      <!--<div class="glyph-icon icon-elusive-stop" title="" data-original-title=".icon-elusive-list"></div>-->
      <i class="material-icons">stop</i>
    </div>
    <div class="head-task-content">
      <p class="title">未开始</p>
      <p>{{counts['notStarted']}}</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-xs-4 col-sm-4 stateDiv">
    <div class="head-task-state all">
      <!--<div class="glyph-icon icon-iconic-list" title="" data-original-title=".icon-elusive-list"></div>-->
      <i class="material-icons">list</i>
    </div>
    <div class="head-task-content">
      <p class="title">所有任务</p>
      <p>{{counts['total']}}</p>
    </div>
  </div>
</div>
