/*系统logo*/
.logo{
	width: 280px;
	height: 200px;
	background-image: url(../../../assets/img/logo.png);
	position: absolute;
	top:-60px;
}

/*任务统计区块*/
.stateDiv{
	height:88px;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 2px solid #d7d6db;
	float: right;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 20px;;
	padding-top:18px;
}

/*任务状态图标*/
.head-task-state{
	float: left;
	width:52px;
	height:52px;
	line-height: 50px;
	border-radius: 3px;
	text-align: center;
	color:#fff;
	font-size:2rem;
	margin-right:10px;
}

.head-task-content{
	display: block;

}

.head-task-content p {
	margin: 0px;
	font-size:1.5rem;
}
.head-task-content .title{
	font-size:0.5rem;
}

.all{/*所有任务*/
	background-color:#84c0eb;
}


.notstart{/*未开始*/
	background-color:#cb93dd;
}

.ongoing{/*进行中*/
	background-color: #64decf;
}

.overtime{/*超时*/
	background-color: #f69679;
}

/*头部分割线*/
.line{
	height: 2px;
	width: 100%;
	background-color: #f8f1f3;
}

.row{
	margin: 0px;
}