<div class="row">
  <!--logo-->
  <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 logo"></div>
  <!--任务统计-->
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 stateDiv">
    <div class="head-task-state overtime">
        <div class="glyph-icon icon-elusive-warning" title="" data-original-title=".icon-elusive-list"></div>
    </div>
    <div class="head-task-content">
        <p class="title">超时</p>
        <p>13</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 stateDiv">
    <div class="head-task-state ongoing">
        <div class="glyph-icon icon-elusive-clock" title="" data-original-title=".icon-elusive-list"></div>
    </div>
    <div class="head-task-content">
        <p class="title">进行中</p>
        <p>45</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 stateDiv">
    <div class="head-task-state notstart">
        <div class="glyph-icon icon-elusive-stop" title="" data-original-title=".icon-elusive-list"></div>
    </div>
    <div class="head-task-content">
        <p class="title">未开始</p>
        <p>102</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 stateDiv">
    <div class="head-task-state all">
        <div class="glyph-icon icon-iconic-list" title="" data-original-title=".icon-elusive-list"></div>
    </div>
    <div class="head-task-content">
        <p class="title">所有任务</p>
        <p>3,352</p>
    </div>
  </div>
</div>