<!--菜单-->
<div class="leftDiv">
  <ul class="menu">
    <li (click)="navigateToHomePage()">
      <md-icon class="material-icons">home</md-icon>
      <!--<div class="glyph-icon icon-elusive-home-circled" title="" data-original-title=".icon-elusive-home-circled"></div>-->
      首页
    </li>
  </ul>
  <ul class="menu">
    <li>
      <md-icon class="material-icons">account_circle</md-icon>
      <!--<div class="glyph-icon icon-elusive-slideshare" title="" data-original-title=".icon-elusive-slideshare"></div>-->
      与我有关的任务
    </li>
    <li>
      <md-icon class="material-icons">assignment_ind</md-icon>
      <!--<div class="glyph-icon icon-elusive-user" title="" data-original-title=".icon-elusive-user"></div>-->
      我负责的任务<span class="badge badge-gray">3</span>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <div (click)="navigateToTaskList()">
        <md-icon class="material-icons">format_list_numbered</md-icon>
        <!--<div class="glyph-icon icon-elusive-list" title="" data-original-title=".icon-elusive-list"></div>-->
        任务列表
      </div>
      <i (click)="navigateToCreateTask()" class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
    </li>
    <li>
      <div (click)="navigateToTaskProject()">
        <md-icon class="material-icons">format_list_bulleted</md-icon>
        <!--<i  class="glyph-icon icon-file-powerpoint-o" title="" data-original-title=".icon-file-powerpoint-o"></i> -->
        项目列表
      </div>
      <i (click)="navigateToCreateProject()" class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
    </li>
    <li>
      <div (click)="navigateToTaskProduct()">
        <md-icon class="material-icons">dehaze</md-icon>
        <!--<i  class="glyph-icon icon-cubes" title="" data-original-title=".icon-cubes"></i> -->
        产品列表
      </div>
      <i (click)="navigateToCreateProduct()" class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
    </li>
  </ul>
  <ul class="menu SignOut">
    <li (click)="navigateToSignOut()">
      <md-icon class="material-icons"><i class="material-icons">power_settings_new</i></md-icon>
      退出登录
    </li>
  </ul>
</div>
<!--<div class="leftDiv">
  <ul class="menu">
    <li>
      <a routerLink="/task" routerLinkActive="active">
        <md-icon class="material-icons">home</md-icon>
        首页
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <a routerLink="/task" routerLinkActive="active">
        <md-icon class="material-icons">account_circle</md-icon>
        与我有关的任务
      </a>
    </li>
    <li>
      <a routerLink="/task" routerLinkActive="active">
        <md-icon class="material-icons">assignment_ind</md-icon>
        我负责的任务<span class="badge badge-gray">3</span>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <div>
        <a routerLink="/task" routerLinkActive="active">
          <md-icon class="material-icons">format_list_numbered</md-icon>
          任务列表
        </a>
      </div>
      <a routerLink="/task/new" routerLinkActive="active">
        <i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
      </a>
    </li>
    <li>
      <div>
        <a routerLink="/project" routerLinkActive="active">
          <md-icon class="material-icons">format_list_bulleted</md-icon>
          项目列表
        </a>
      </div>
      <a routerLink="/project/new" routerLinkActive="active">
        <i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
      </a>
    </li>
    <li>
      <div>
        <a routerLink="/product" routerLinkActive="active">
          <md-icon class="material-icons">dehaze</md-icon>
          产品列表
        </a>
      </div>
      <a routerLink="/product/new" routerLinkActive="active">
        <i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <a routerLink="/signout" routerLinkActive="active">
        <md-icon class="material-icons">leave</md-icon>
        退出登录
      </a>
    </li>
  </ul>
</div>-->
