<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
  <!--菜单-->
  <div class="leftDiv">
    <ul class="menu">
      <li>
        <div class="glyph-icon icon-elusive-home-circled" title="" data-original-title=".icon-elusive-home-circled"></div>首页</li>
    </ul>
    <ul class="menu">
      <li>
        <div class="glyph-icon icon-elusive-slideshare" title="" data-original-title=".icon-elusive-slideshare"></div>与我有关的任务</li>
      <li>
        <div class="glyph-icon icon-elusive-user" title="" data-original-title=".icon-elusive-user"></div>我负责的任务<span class="badge badge-gray">3</span></li>
    </ul>
    <ul class="menu">
      <li>
        <div class="glyph-icon icon-elusive-list" title="" data-original-title=".icon-elusive-list"></div>任务列表<i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i></li>
      <li><i class="glyph-icon icon-file-powerpoint-o" title="" data-original-title=".icon-file-powerpoint-o"></i>项目列表<i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i></li>
      <li><i class="glyph-icon icon-cubes" title="" data-original-title=".icon-cubes"></i>产品列表<i class="pull-xs-right glyph-icon icon-plus-circle btn-add"></i></li>
    </ul>
  </div>
</div>