<!--<div class="md-dialog-content">
    <h2 class="md-title">删除任务</h2>
    <div class="md-dialog-content-body"><p>是否确定删除本条任务记录？</p></div>
</div>
<div class="md-dialog-actions">
    <button md-button class="md-button button-line" type="button" (click)="dialogRef.close(false)">取&nbsp;&nbsp;消</button>
    <button md-button class="md-button del-button"  type="button" (click)="dialogRef.close(true)">删&nbsp;&nbsp;除</button>
</div>-->


<!--<div class="md-dialog-content">
    <h2 class="md-title">任务开始</h2>
    <div class="md-dialog-content-body">
        <h6>
            请选择当前任务的开始时间：
        </h6>
        <span>
            <md-input value="2016年10月10日"></md-input>
        </span>
    </div>
</div>
<div class="md-dialog-actions">
    <button md-button class="md-button button-line" type="button" (click)="dialogRef.close(false)">取&nbsp;&nbsp;消</button>
    <button md-button class="md-button confirm-button"  type="button" (click)="dialogRef.close(true)">确&nbsp;&nbsp;定</button>
</div>-->



<div class="md-dialog-content">
    <h2 class="md-title">进度</h2>
    <div class="md-dialog-content-body">
        <h6>
            请输入当前进度：
        </h6>
        <span>
            <md-input align="end"><span md-suffix>%</span></md-input>
            
        </span>
    </div>
</div>
<div class="md-dialog-actions">
    <button md-button class="md-button button-line" type="button" (click)="dialogRef.close(false)">取&nbsp;&nbsp;消</button>
    <button md-button class="md-button confirm-button"  type="button" (click)="dialogRef.close(true)">确&nbsp;&nbsp;定</button>
</div>