<div class="row" [appElementStatus]="statusStyle">
  <div class="row" *ngIf="!detailFlag">
    <div class="col-lg-7 col-md-12 col-xs-12 col-sm-12  bottom_line  right_line">
      <div class="element_ic">
        <md-icon>format_list_numbered</md-icon>
      </div>
      <div class="element_name over">{{taskRecord.name | null_or_empty:"无"}}<span>{{taskRecord.id | null_or_empty:"无"}}</span></div>
    </div>
    <div class="col-lg-4 col-md-10 col-xs-10 col-sm-10 right_line">
      <div class="element_info">
        <div class="date">
          <ul [hidden]="info1HiddenFlag">
            <li class="date"><span>{{info1Date | date:"MM"}}</span>月<span>{{info1Date | date:"dd"}}</span>日</li>
            <li>{{info1Text}}</li>
          </ul>
        </div>
        <div class="datespan">
          <ul [hidden]="info2HiddenFlag">
            <li class="datespan"><span>{{info2DateSpan}}</span>天</li>
            <li>{{info2Text}}</li>
          </ul>
        </div>
        <div class="status">
          <ul [hidden]="info3HiddenFlag">
            <li class="status" *ngIf="info3DateSpan>0"><span>{{info3DateSpan}}</span>天</li>
            <li class="status" *ngIf="info3DateSpan<=0"></li>
            <li class="statusname">{{info3Text}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
      <div class="open">
        <button class="down" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="打开" tooltip-position="below">
					<md-icon>keyboard_arrow_down</md-icon>
					<span [hidden]="!(accessAlert || refuseAlert || menuAlert)" class="badge"></span>
				</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="detailFlag">
    <div class="col-lg-10 col-md-8 col-xs-8 col-sm-8 right_line">
      <div class="element_ic">
        <md-icon>format_list_numbered</md-icon>
      </div>
      <div class="element_name">{{taskRecord.name | null_or_empty:"无"}}</div>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
      <div class="open">
        <button class="menu" md-icon-button [md-menu-trigger-for]="menu" md-tooltip="操作" tooltip-position="below">
							<md-icon>menu</md-icon>
					<span [hidden]="!menuAlert" class="badge"></span>
						</button>
        <md-menu #menu="mdMenu">
          <button [disabled]="!startAble" md-menu-item (click)="openStartDialog()"><md-icon>play_arrow</md-icon><span [hidden]="!startAlert" class="badge_m"></span>开始</button>
          <button [disabled]="!progressAble" md-menu-item (click)="openProgressDialog()"><md-icon>launch</md-icon>填写进度</button>
          <button [disabled]="!finishAble" md-menu-item (click)="openFinishDialog()"><md-icon>done</md-icon>完成</button>
          <button [disabled]="!closeAble" md-menu-item (click)="openCloseDialog()"><md-icon>close</md-icon>关闭</button>
          <button [disabled]="!editAble" md-menu-item [routerLink]="['/task',taskRecord.id,'edit']"><md-icon>mode_edit</md-icon>编辑</button>
          <button [hidden]="!deleteAble" md-menu-item (click)="openDelDialog()"><md-icon>delete</md-icon>删除</button>
        </md-menu>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-2 col-sm-2 right_line">
      <div class="open">
        <button class="up" (click)="onDetailClicked(taskRecord.id)" md-icon-button md-tooltip="收起" tooltip-position="below">
					<md-icon>keyboard_arrow_up</md-icon>
				</button>
      </div>
    </div>
  </div>
  <div class="row line"></div>
</div>
