<div class="modal-dialog vtop">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center text-primary">修改密码</h1>
    </div>
    <div class="modal-body">
      <form class="form center-block" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <!--用户名-->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1"></div>
          <div class="col-lg-8 col-md-8 col-xs-10 col-sm-10">
            <!--密码-->
            <div class="form-group">
              <md-input-container>
                <input mdInput placeholder="原始密码" type="password" required [(ngModel)]="authorize.pwd" name="password" #password="ngModel">
              </md-input-container>
              <div [hidden]="password.valid || password.pristine" class="error">
                原始密码不能为空
              </div>
            </div>
            <div class="form-group">
              <div class="form-sub">
                <md-input-container>
                  <input mdInput placeholder="新密码" type="password" required (input)="onNewPasswordInput()" [(ngModel)]="authorize.newpwd" name="newPassword"
                    #newPassword="ngModel">
                </md-input-container>
                <div [hidden]="newPassword.valid || newPassword.pristine" class="error">
                  新密码不能为空
                </div>
              </div>
              <div class="form-sub">
                <md-input-container>
                  <input mdInput placeholder="重新输入新密码" type="password" required [(ngModel)]="repeatpwd" name="repeatPassword" #repeatPassword="ngModel">
                </md-input-container>
                <div class="error" [hidden]="authorize.newpwd === repeatpwd">
                  两次输入不一致
                </div>
              </div>
            </div>
            <div class="form-group errorDiv" [hidden]="!wrong_password">
              <div class="alert alert-danger">
                原始密码输入错误
              </div>
            </div>
            <div class="button">
              <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!(userForm.form.valid && authorize.newpwd === repeatpwd)">修改密码</button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
