<!---------------------------------------------------------------------------->
<!--任务1-->
<div class="row">
	<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 right_line">
				<!--任务图标-->
				<div class="task_ic">
					<div class="glyph-icon icon-elusive-list overtime" title=""></div>
				</div>
				<!--任务名称-->
				<div class="task_name">任务管理系统开发<span>20160612001</span></div>
				<div class="tool pull-xs-right">
					<ul>
						<li>
							<div class="glyph-icon icon-elusive-right-hand" title=""></div>
						</li>
						<li>
							<div class="glyph-icon icon-elusive-play" title=""></div>
						</li>
						<li>
							<div class="glyph-icon icon-elusive-stop" title=""></div>
						</li>
						<li>
							<div class="glyph-icon icon-elusive-eject" title=""></div>
						</li>
						<li>
							<div class="glyph-icon icon-elusive-edit-alt" title=""></div>
						</li>
					</ul>
				</div>
			</div>

			<!--任务时间-->
			<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				<div class="task_info">
					<ul>
						<li class="title_date"><span>8</span>月<span>30</span>日</li>
						<li>计划完成时间</li>
					</ul>
					<ul>
						<li class="title_day"><span>120</span>天</li>
						<li>计划用时</li>
					</ul>
					<ul>
						<li class="title_overtime"><span>2</span>天</li>
						<li>已超时</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!--任务展开开关-->
	<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
		<div class="open">
			<div class="glyph-icon icon-elusive-down-open" title=""></div>
		</div>
	</div>

</div>

<!--任务状态色条-->
<div class="row overtime"></div>
<!---------------------------------------------------------------------------->