<ul>
	<li>
		<div class="dynamic">
			<template ngFor let-record [ngForOf]="list">
				<div [person]="record.personName">
					<ul class="role">
						<li *ngIf="record.personName!=null" class="title">{{record.personName}}</li>
						<li>{{record.sentTime | date:"yyyy-MM-dd"}}<br>{{record.sentTime | date:"HH:mm:ss"}}</li>
					</ul>
					<ul>
						<li>
							<div class="message">{{record.content}}
							</div>
						</li>
					</ul>
				</div>
			</template>
		</div>
	</li>
	<li class="text-center">
		<textarea name="" rows="3" class="form-control textarea-counter"></textarea>
		<div class=""><button class="btn btn-info pull-xs-right m-t-1 m-b-1">发送</button></div>
	</li>
</ul>