<div class="row">
   <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
  </div>
   <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 sch">
    <!--<md-input placeholder="First name">
      <span md-suffix>
        <button  md-icon-button md-tooltip="检索" tooltip-position="below">
          <md-icon>search</md-icon>
        </button>
      </span>
    </md-input>-->
    <!--<md-input placeholder="amount" align="end">
    </md-input>-->
   <input is="core-input" id="searchBox" placeholder="Search" flex="" aria-label="Search">
    <button  md-icon-button md-tooltip="检索" tooltip-position="below">
          <md-icon>search</md-icon>
    </button>
  </div>
  
  <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 user">
    你好，王峰
  </div>
</div>