/*首页样式==============================================================================================*/

/*白色半透明背景*/
.body_bg{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.8);
	margin-bottom:30px;
	border-radius:3px;
}



/*左侧菜单区域*/
.leftDiv{
	background-color: rgba(255,255,255,0.3);
	float: left;
}

/*右侧内容区*/
.rightDiv{
	margin: 20px;
	background-color: rgba(255,255,255,0.3);
	border: 1px solid #d1c8c6;
	min-height: 68px;
	line-height: 68px;
}


