<div class="md-dialog-content">
    <h2 class="md-title">进度</h2>
    <div class="md-dialog-content-body">
        <h6>
            请输入当前进度：
        </h6>
        <span>
            <md-input [(ngModel)]="task.percent" align="end"><span md-suffix>%</span></md-input>
        </span>
    </div>
</div>
<div class="md-dialog-actions">
    <button md-button class="md-button button-line" type="button" (click)="dialogRef.close(null)">取&nbsp;&nbsp;消</button>
    <button md-button class="md-button confirm-button" type="button" (click)="dialogRef.close(task)">确&nbsp;&nbsp;定</button>
</div>