<div class="row">
  <ng-template ngFor let-record [ngForOf]="list">
    <div class="col-lg-3 col-md-11 col-xs-11 col-sm-11 attachment">
      <ul>
        <li [md-tooltip]="record.fileName" tooltip-position="below"><a [href]="attachmentUrl + '/' + record.fileObjectId" target="_blank">{{record.fileName}}</a></li>
      </ul>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 del">
      <ul>
        <li><i class="material-icons" md-tooltip="删除" tooltip-position="below" (click)="del(record.fileObjectId)">cancel</i></li>
      </ul>
    </div>
  </ng-template>
  <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 add-attachment">
    <ul>
      <li>
        <input type="file" [hidden]="true" #fileblowser (change)="uploadFile($event)" />
        <i class="material-icons" (click)="fileblowser.click()" md-tooltip="上传" tooltip-position="below">file_upload</i>
      </li>
    </ul>
  </div>
</div>
