<!---------------------------------------------------------------------------->

<!---------------------------------------------------------------------------->
<!--任务详情-->
<div class="row">
	<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
		<div class="row">

			<!--左侧-->
			<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 right_line">

				<!--任务基本信息展开-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>format_list_numbered</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">任务编号</li>
							<li>{{taskRecord.id | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">任务名称</li>
							<li>{{taskRecord.name | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">简述</li>
							<li>{{taskRecord.resume | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">详细描述</li>
							<li>{{taskRecord.description | null_or_empty:"无"}}</li>
						</ul>
					</div>
				</div>

				<!--任务周期-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>date_range</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">要求任务周期</li>
							<li>{{taskRecord.requiringBeginDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}} ~ {{taskRecord.requiringEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">计划任务周期</li>
							<li>{{taskRecord.planningBeginDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}} ~ {{taskRecord.planningEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">实际执行周期</li>
							<li>{{taskRecord.realBeginDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}} ~ {{taskRecord.realEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
						</ul>
						<ul style="margin-bottom:100px;">
							<li class="title">任务状态</li>
							<li>
								<progress-chart [planningBeginDate]="taskRecord.planningBeginDate" [planningEndDate]="taskRecord.planningBeginDate" [realBeginDate]="taskRecord.planningBeginDate"
									[realEndDate]="taskRecord.planningBeginDate"></progress-chart>
							</li>
							<li>
								<progress-chart-2 [planningBeginDate]="taskRecord.planningBeginDate" [planningEndDate]="taskRecord.planningBeginDate" [realBeginDate]="taskRecord.planningBeginDate"
									[realEndDate]="taskRecord.planningBeginDate"></progress-chart-2>
							</li>
						</ul>
					</div>
				</div>


				<!--任务状态-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>question_answer</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">任务动态</li>
							<li>
								<communications [list]="taskRecord.communications" [id]="taskRecord.id"></communications>
							</li>
						</ul>
					</div>
				</div>





			</div>


			<!--右侧-->
			<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">


				<!--客户联系方式-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>contact_mail</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">客户联系方式</li>
							<li>{{taskRecord.customerContact | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">创建人</li>
							<li>{{taskRecord.creator | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">商务负责人</li>
							<li>{{taskRecord.primarySeller | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">OC负责人</li>
							<li>{{taskRecord.primaryOC | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">执行负责人</li>
							<li>{{taskRecord.primaryExecutor | null_or_empty:"无"}}</li>
						</ul>
						<ul>
							<li class="title">其它相关人员</li>
							<li>{{taskRecord.otherExecutors | null_or_empty:"无"}}</li>
						</ul>
					</div>
				</div>


				<!--关联产品-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>widgets</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">关联产品</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
						</ul>
					</div>
				</div>


				<!--关联项目-->
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>link</md-icon>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">关联项目</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
							<li>
								<p>#111111-111111-111111</p>公安信息化产品中心任务管理系统...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>