ul{
    margin-bottom: 0px;
}
li{
    padding:10px;
}
.task_class_ic{
    line-height: 50px;
}

.task_class{
    padding: 0px;
}

md-icon{
    color: rgba(0,0,0,0.54);
}


.pdt10{
    padding-top: 10px;
}

.errorDiv {
  padding: 5px 90px 5px 80px;
}
