
<!---------------------------------------------------------------------------->

<!---------------------------------------------------------------------------->
<!--任务详情-->
<div class="row">
	<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
		<div class="row">

			<!--左侧-->
			<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 right_line">

				<!--任务基本信息展开-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon icon-elusive-list" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">任务编号</li>
							<li>{{taskRecord.id}}</li>
						</ul>
						<ul>
							<li class="title">任务名称</li>
							<li>{{taskRecord.name}}</li>
						</ul>
						<ul>
							<li class="title">简述</li>
							<li>{{taskRecord.resume}}</li>
						</ul>
						<ul>
							<li class="title">详细描述</li>
							<li>{{taskRecord.description}}</li>
						</ul>
					</div>
				</div>

				<!--任务周期-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon icon-calendar" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">要求任务周期</li>
							<li>{{taskRecord.requiringBeginDate | date:"yyyy年MM月dd日"}} ~ {{taskRecord.requiringEndDate | date:"yyyy年MM月dd日"}}</li>
						</ul>
						<ul>
							<li class="title">计划任务周期</li>
							<li>{{taskRecord.planningBeginDate | date:"yyyy年MM月dd日"}} ~ {{taskRecord.planningEndDate | date:"yyyy年MM月dd日"}}</li>
						</ul>
						<ul>
							<li class="title">实际执行周期</li>
							<li>{{taskRecord.realBeginDate | date:"yyyy年MM月dd日"}} ~ {{taskRecord.realEndDate | date:"yyyy年MM月dd日"}}</li>
						</ul>
						<ul style="margin-bottom:100px;">
							<li class="title">任务状态</li>
							<li>
								 <progress class="progress" value="55" max="100"></progress>
								 <div class="progress_data">
									<div class="Nvalue_start">6月1日</div>
									<div class="Nvalue_position" style="width:55%">完成55%</div>
									<div class="Nvalue_today tooltip-show" style="width:75%"  md-tooltip="some message" tooltip-position="below">今日6月20日</div>
									<div class="Nvalue_end">6月30日</div>
								 </div>
							</li>
						</ul>
						<ul style="margin-bottom:100px;">
							<li class="title">任务状态</li>
							<li>
								<progress style="float: left; width: 12%;" class="progress progress-success" value="12" max="12">
								<span>12%</span>
								</progress>
								<progress style="float: left; width: 14%;" class="progress progress-info" value="14" max="14">
								<span>4%</span>
								</progress>
								<progress style="float: left; width: 11%;" class="progress progress-warning" value="11" max="11">
								<span>11%</span>
								</progress>
								<progress style="float: left; width: 22%;" class="progress progress-danger" value="22" max="22">
								<span>21%</span>
								</progress>
								<progress class="progress" max="100" style="width: 100%;" value="0"></progress>
								<div class="progress_data">
									<div class="Nvalue_start">6月1日</div>
									<div class="Nvalue_0" style="width:11%">6-15需求</div>
									<div class="Nvalue_0" style="width:23%">7-1设计</div>
									<div class="Nvalue_0" style="width:33%">7-15研发</div>
									<div class="Nvalue_today" style="width:52%">今日6月20日</div>
									<div class="Nvalue_end">6月30日</div>
								 </div>								
							</li>
						</ul>
					</div>
				</div>

				<!--任务状态-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon demo-icon tooltip-button icon-typicons-chat-alt" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">任务动态</li>
							<li>
								<div class="dynamic">
									<div class="other">
										<ul class="role">
											<li class="title">谭继峰</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">其他工作什么时候能完成？要给销售一个比较确定的时间，给测试人员 预留的时间有多长？
												</div>
											</li>
										</ul>
									</div>
									<div class="me">
										<ul class="role">
											<li class="title">我</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">由于开发人员变动，造成开发进度延期，经过和相关人员协商后，将开 发结束时间延期到2016年9月30日。
												</div>
											</li>
										</ul>
									</div>
									<div class="other">
										<ul class="role">
											<li class="title">陈天博</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">好的，请尽快完成。</div>
											</li>
										</ul>
									</div>
									<div class="other">
										<ul class="role">
											<li class="title">谭继峰</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">其他工作什么时候能完成？要给销售一个比较确定的时间，给测试人员 预留的时间有多长？
												</div>
											</li>
										</ul>
									</div>
									<div class="me">
										<ul class="role">
											<li class="title">我</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">由于开发人员变动，造成开发进度延期，经过和相关人员协商后，将开 发结束时间延期到2016年9月30日。
												</div>
											</li>
										</ul>
									</div>
									<div class="other">
										<ul class="role">
											<li class="title">陈天博</li>
											<li>2016-04-06<br>12:24:12</li>
										</ul>
										<ul>
											<li>
												<div class="message">好的，请尽快完成。</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="text-center">
								<textarea name="" rows="3" class="form-control textarea-counter"></textarea>
								<div class=""><button class="btn btn-info pull-xs-right m-t-1 m-b-1">发送</button></div>
							</li>
						</ul>
					</div>
				</div>

			</div>


			<!--右侧-->
			<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">


				<!--客户联系方式-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon icon-elusive-group" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">客户联系方式</li>
							<li>{{taskRecord.customerContact}}</li>
						</ul>
						<ul>
							<li class="title">创建人</li>
							<li>{{taskRecord.creator}}</li>
						</ul>
						<ul>
							<li class="title">商务负责人</li>
							<li>{{taskRecord.primarySeller}}</li>
						</ul>
						<ul>
							<li class="title">OC负责人</li>
							<li>OC-{{taskRecord.primaryOC}}</li>
						</ul>
						<ul>
							<li class="title">执行负责人</li>
							<li>{{taskRecord.primaryExecutor}}</li>
						</ul>
						<ul>
							<li class="title">其它相关人员</li>
							<li>{{taskRecord.otherExecutors}}</li>
						</ul>
					</div>
				</div>


				<!--关联产品-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon tooltip-button demo-icon icon-cubes" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">关联产品</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
						</ul>
					</div>
				</div>


				<!--关联项目-->
				<div class="task_class">
					<div class="task_class_ic">
						<div class="glyph-icon icon-file-powerpoint-o" title=""></div>
					</div>
					<div class="task_class_info">
						<ul>
							<li class="title">关联项目</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
							<li>#111111-111111-111111<br>公安信息化产品中心任务管理系统...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>