ul{
    margin-bottom: 0px;
}
li{
    padding:10px;
}
.task_class_ic{
    line-height: 50px;
}

.task_class{
    padding: 0px;
}

md-icon{
    color: rgba(0,0,0,0.54);
}


.pdt10{
    padding-top: 10px;
}

.errorDiv {
  padding: 10px;
}

.alert {
    height: 64px;
    line-height: 64px;
    padding: 0rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: rgba(0,0,0,0.60);
}

[md-button].md-primary, [md-icon-button].md-primary {
    color: #117ecc;
	font-family: "微软雅黑";
    font-size: 1.0rem;
    margin-top: 12px;
    float: right;
}
[md-button] {
    font-weight: 100; 
    min-width: 88px; 
}

[md-button].md-refuse, [md-icon-button].md-refuse {
    color: rgba(0,0,0,0.60);
	font-family: "微软雅黑";
    font-size: 1.0rem;
    margin-top: 12px;
    float: right;

}