<!---------------------------------------------------------------------------->

<!---------------------------------------------------------------------------->
<!--任务详情-->
<div class="row pdt10">
	<div class="row" *ngIf="processAlert">
		<div class="errorDiv">
			<div class="alert alert-warning">
				是否接受当前任务？<button md-button color="refuse">拒&nbsp;绝</button><button md-button color="primary">接&nbsp;受</button>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<!--任务编号-->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>format_list_numbered</md-icon>
					</div>
				</div>
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">任务编号</li>
								<li>{{taskRecord.id | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">任务名称</li>
								<li>{{taskRecord.name | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">创建人</li>
								<li>{{taskRecord.creator | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">详细描述</li>
								<li>{{taskRecord.description | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">客户联系方式</li>
								<li>{{taskRecord.customerContact | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--所属产品-->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">所属产品</li>
								<li>
									<p>{{taskRecord.parentProductId | null_or_empty:"无"}}</p>{{taskRecord.parentProduct | null_or_empty:""}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">所属项目</li>
								<li>
									<p>{{taskRecord.parentProjectId | null_or_empty:"无"}}</p>{{taskRecord.parentProject | null_or_empty:""}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>
		<!--销售负责人-->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">销售负责人</li>
								<li>{{taskRecord.primarySeller | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">要求截止日期</li>
								<li>{{taskRecord.requiringEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>
		<!--OC负责人-->
		<div class="row" *ngIf="taskRecord.status==='分配中' ||taskRecord.status==='计划中' ||taskRecord.status==='未开始' || taskRecord.status==='进行中' || taskRecord.status==='完成' || taskRecord.status==='关闭'">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>account_box</md-icon>
					</div>
				</div>
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">OC负责人</li>
								<li>{{taskRecord.primaryOC | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class" *ngIf="taskRecord.status!=='分配中'">
						<div class="task_class_info">
							<ul>
								<li class="title">执行负责人</li>
								<li>{{taskRecord.primaryExecutor | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12" *ngIf="taskRecord.status!=='分配中'">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">其它相关人员</li>
								<li>{{taskRecord.otherExecutors | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--计划时间-->
		<div class="row" *ngIf="taskRecord.status==='未开始' || taskRecord.status==='进行中' || taskRecord.status==='完成' || taskRecord.status==='关闭'">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">计划开始时间</li>
								<li>{{taskRecord.planningBeginDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">计划结束时间</li>
								<li>{{taskRecord.planningEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>
		<!--实际时间-->
		<div class="row" *ngIf="taskRecord.status==='进行中' || taskRecord.status==='完成' || taskRecord.status==='关闭'">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">实际开始时间</li>
								<li>{{taskRecord.realBeginDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">实际结束时间</li>
								<li>{{taskRecord.realEndDate | date:"yyyy年MM月dd日" | null_or_empty:"无"}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>
		<!--任务状态-->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">任务状态</li>
								<li>{{taskRecord.status | null_or_empty:""}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
					<div *ngIf="taskRecord.status==='进行中' || taskRecord.status==='完成' || taskRecord.status==='关闭'" class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">当前进度</li>
								<li>{{taskRecord.percent}}%</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>

		<!--任务动态-->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
				<div class="task_class">
					<div class="task_class_ic">
						<md-icon>question_answer</md-icon>
					</div>
				</div>
			</div>
			<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
				<div class="col-lg-8 col-md-12 col-xs-12 col-sm-12">
					<div class="task_class">
						<div class="task_class_info">
							<ul>
								<li class="title">任务动态</li>
								<li>
									<communications [id]="taskId"></communications>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
				</div>
			</div>
		</div>
	</div>
</div>