<br /><br /><br /><br />
<br /><br /><br /><br />

<progress class="progress" value="55" max="100"></progress>
<div class="progress_data">
	<div class="Nvalue_start">6月1日</div>
	<div class="Nvalue_position" style="width:55%">完成55%</div>
	<div class="Nvalue_today tooltip-show" style="width:75%" md-tooltip="some message" tooltip-position="below">今日6月20日</div>
	<div class="Nvalue_end">6月30日</div>
</div>
<br /><br /><br /><br />
<progress style="float: left; width: 12%;" class="progress progress-success" value="12" max="12">
	<span>12%</span>
</progress>
<progress style="float: left; width: 14%;" class="progress progress-info" value="14" max="14">
	<span>4%</span>
</progress>
<progress style="float: left; width: 11%;" class="progress progress-warning" value="11" max="11">
	<span>11%</span>
</progress>
<progress style="float: left; width: 22%;" class="progress progress-danger" value="22" max="22">
	<span>21%</span>
</progress>
<progress class="progress" max="100" style="width: 100%;" value="0"></progress>
<div class="progress_data">
	<div class="Nvalue_start">6月1日</div>
	<div class="time">
		<div class="Nvalue_0" style="width:12%">6-15需求</div>
		<div class="Nvalue_0" style="width:14%">7-1设计</div>
		<div class="Nvalue_0" style="width:11%">7-15研发</div>

	</div>
	<div class="Nvalue_today" style="width:75%">今日6月20日</div>
	<div class="Nvalue_end">6月30日</div>
</div>