/* You can add global styles to this file, and also import other style files */
@import 'http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.css';

*{
	padding:0px;
	margin: 0px;
	font-family: "微软雅黑";
} 
html, body{
	width: 100%;
	color: #666666;
}

body{
	background-image: url(./assets/img/background/bg.jpg);
	background-size:cover; 
}


/*布局*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;

}

.md-dialog-container{
    padding:0px;
	border-radius: 4px;
}



/*dialog弹窗样式*/
.md-dialog-content {
    padding: 24px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    min-width: 360px;
}

.md-dialog-actions{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
    padding:0px;
    min-height: 54px;
    overflow: hidden;
    margin-top: 0;
    border-top:1px solid #eceeef;
}

.md-title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .005em;
    width: 100%;
    text-align: left;
}

md-dialog-content .md-dialog-content-body {
    width: 100%;
}

p {
    font-size: 1rem; 
    font-weight: 400; 
    letter-spacing: 0.010em;
    line-height: 1rem;
    margin: 0.8em 0 1.6em;
     display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.md-button {
    font-size: 1.1rem;
    color: #666666;
    font-weight: 500;
    width:42%;
    min-height: 52px;
    border-radius: 0px;
}

.del-button{
    color:red;
}

.confirm-button{
    color: #2d88e3;
}
.button-line{
    border-right:1px solid #eceeef;
    width:58%; /*王峰强烈要求按钮不对称设计，我感觉非常屎！*/
}

md-input{
    width: 100%;
    color:#673ab7;
}

md-input span{
    color:#000000;
    font-weight: 900;
}



.md-dialog-content-body h6{
    margin-top: 30px;
}

.md-dialog-content-body span{
    display: block;
    margin-top: -15px;
}