<form (ngSubmit)="editTask()" #taskForm="ngForm" class="form center-block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="row">
        <div class="task_head">修改任务</div>
        <div class="fix">
          <button type="submit" [disabled]="!taskForm.form.valid" md-mini-fab color="primary" md-tooltip="确定" tooltip-position="below">
					<md-icon>done</md-icon>
				</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>library_books</md-icon>
          </div>
          <div class="task_title">基本信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-input [readonly]="true" [(ngModel)]="srcTask.id" placeholder="任务编号" required name="taskId"></md-input>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [(ngModel)]="srcTask.name" (ngModelChange)="editingTask.name=$event" #taskName="ngModel" placeholder="任务名称" [required]="true"
                  name="taskName"></md-input>
                <div [hidden]="taskName.valid || taskName.pristine" class="error">
                  任务名称不能为空
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [(ngModel)]="srcTask.resume" (ngModelChange)="editingTask.resume=$event" #resume="ngModel" placeholder="简述" [required]="true"
                  name="resume"></md-input>
                <div [hidden]="resume.valid || resume.pristine" class="error">
                  简述不能为空
                </div>
              </li>
            </ul>
            <ul>
              <li class="title">详细描述</li>
              <li>
                <textarea [(ngModel)]="srcTask.description" (ngModelChange)="editingTask.description=$event" #description="ngModel" name="description"
                  rows="3" class="form-control textarea-counter"></textarea>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>account_box</md-icon>
          </div>
          <div class="task_title">商务信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                请选择销售负责人<span>*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="srcTask.primarySellerId" (ngModelChange)="editingTask.primarySellerId=$event" class="form-control" #sellerIdSelect="ngModel"
                  name="sellerIdSelect" [required]="true">
										<option *ngFor="let emp of sellers" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [(ngModel)]="requiringEndDate" #requiringEndDateInput="ngModel" name="requiringEndDateInput" placeholder="要求任务完成时间"></md-input>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly] placeholder="时间填写demo" [value]="'2016-10-20T08:00:00+08:00'"></md-input>
              </li>
            </ul>
            <ul>
              <li class="title">客户联络方式</li>
              <li>
                <textarea [(ngModel)]="srcTask.customerContact" (ngModelChange)="editingTask.customerContact=$event" #customerContact="ngModel"
                  name="customerContact" rows="3" class="form-control textarea-counter"></textarea>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>account_circle</md-icon>
          </div>
          <div class="task_title">执行信息</div>
          <div class="task_class_info">
            <ul>
              <li>
                请选择OC负责人 <span [hidden]="!(srcTask.primarySellerId != null || (isTaskAdmin || isTaskManager))">*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="srcTask.primaryOCId" (ngModelChange)="editingTask.primaryOCId=$event" class="form-control" #OCIdSelect="ngModel" name="OCIdSelect"
                  [required]="srcTask.primarySellerId != null || (isTaskAdmin || isTaskManager)">
										<option *ngFor="let emp of OC" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                请选择执行负责人 <span [hidden]="!(isTaskAdmin || isTaskManager)">*</span>
              </li>
            </ul>
            <ul>
              <li>
                <select [(ngModel)]="srcTask.primaryExecutorId" (ngModelChange)="editingTask.primaryExecutorId=$event" class="form-control" #taskManagerIdSelect="ngModel"
                  name="taskManagerIdSelect" [required]="isTaskAdmin || isTaskManager">
										<option *ngFor="let emp of taskManagers" [value] = "emp.empId">{{emp.name}}</option>
									</select>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly]="isSeller && !isOC && !isTaskAdmin && !isTaskManager && !isAdmin" [(ngModel)]="otherExecutors" placeholder="其他相关负责人员"
                  #otherExecutorsInput="ngModel" name="otherExecutorsInput"></md-input>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [readonly]="isSeller || isOC && !isTaskAdmin && !isTaskManager && !isAdmin" [(ngModel)]="planningBeginDate" placeholder="任务计划开始时间"
                      #planningBeginDateInput="ngModel" name="planningBeginDateInput" [required]="(isTaskManager && !isTaskAdmin) || planningEndDate != null || realBeginDate != null || realEndDate != null"></md-input>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [readonly]="isSeller || isOC && !isTaskAdmin && !isTaskManager && !isAdmin" [(ngModel)]="planningEndDate" placeholder="任务计划完成时间"
                      #planningEndDateInput="ngModel" name="planningEndDateInput" [required]="(isTaskManager && !isTaskAdmin) || planningBeginDate != null || realBeginDate != null || realEndDate != null"></md-input>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <div class="row" class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [readonly]="isSeller || isOC && !isTaskAdmin && !isTaskManager && !isAdmin" [(ngModel)]="realBeginDate" placeholder="任务实际开始时间"
                      #realBeginDateInput="ngModel" name="realBeginDateInput" [required]="srcTask.percent >= 100 || realEndDate != null"></md-input>
                  </div>
                  <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                    <md-input [readonly]="isSeller || isOC && !isTaskAdmin && !isTaskManager && !isAdmin" [(ngModel)]="realEndDate" placeholder="任务实际完成时间"
                      #realEndDateInput="ngModel" name="realEndDateInput" [required]="srcTask.percent >= 100"></md-input>
                  </div>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly]="isSeller || isOC && !isTaskAdmin && !isTaskManager && !isAdmin" style="width:80px;" [(ngModel)]="srcTask.percent"
                  (ngModelChange)="editingTask.percent=$event" #percent="ngModel" placeholder="当前进度" name="percent" align="end"><span md-suffix>%</span></md-input>
              </li>
            </ul>
            <ul>
              <li>
                <md-input [readonly] placeholder="时间填写demo" [value]="'2016-10-20T08:00:00+08:00'"></md-input>
              </li>
            </ul>
          </div>
        </div>
        <div class="task_class">
          <div class="task_class_ic">
            <md-icon>dashboard</md-icon>
          </div>
          <div class="task_title">产品与项目</div>
          <div class="task_class_info">
            <ul>
              <li>
                <md-input placeholder="所属产品"></md-input>
              </li>
            </ul>
            <ul>
              <li>
                <md-input placeholder="所属项目"></md-input>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
