<div class="modal-dialog vtop" *ngIf="!isSignIn">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center text-primary">系统登录</h1>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form center-block">
        <!--用户名-->
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1"></div>
          <div class="col-lg-8 col-md-8 col-xs-10 col-sm-10"> 
            <div class="form-group">
              <md-icon role="img" class="material-icons" aria-label="用户名">perm_identity</md-icon>
              <md-input placeholder="" (input)="onInput()" required [(ngModel)]="authorize.name" name="username" #username="ngModel" [myAutocomplete]="'txt_username'"
                [emptyTextAutocomplete]="'off'">
              </md-input>
              <!--用户名不能为空-->
              <div [hidden]="username.valid || username.pristine" class="error">
                用户名不能为空
              </div>
            </div>
            <!--密码-->
            <div class="form-group">
              <md-icon role="img" class="material-icons" aria-label="密码">lock_outline</md-icon>
              <md-input placeholder="" (input)="onInput()" type="password" required [(ngModel)]="authorize.pwd" name="pwd" #pwd="ngModel">
              </md-input>
              <!--密码不能为空-->
              <div [hidden]="pwd.valid || pwd.pristine" class="error">
                密码不能为空
              </div>
            </div>
            <!--用户名密码错误-->
            <div class="form-group errorDiv">
              <div class="alert alert-danger" [hidden]="!wrong_password">
                用户名密码错误
              </div>
            </div>
            <div class="button">
              <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!userForm.form.valid">登录</button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
